{% load custom_filters %}
<article class="p-4 hover:bg-gray-50 bg-white">
    <div class="flex space-x-3">
        <a href={% url "user_profile" username=user.username %}><img src={{user.profile_picture.url}} class="rounded-full h-12 w-12" alt="User"></a>
        <div class="flex-1">
            <div class="flex items-center space-x-2">
                <h2 class="font-bold"><a href={% url "user_profile" username=user.username %}>{{user.get_full_name}}</a></h2>
                <span class="text-gray-500"><a href={% url "user_profile" username=user.username %}>@{{user.username}}</a></span>
                {% comment %} <span class="text-gray-500">· {{user.since}}</span> {% endcomment %}
            </div>
            
            <div class="flex items-center space-x-2">
                <p class="mt-2 mb-2 tweet-text">{{user.bio}}</p>
                <span><i data-feather="map-pin" class="inline h-4 w-4"></i> {{user.location}}</span>
                <span><i data-feather="calendar" class="inline h-4 w-4"></i> Joined {{user.created_at}}</span>
                {% comment %} <span class="mt-2 mb-3 tweet-text">{{user.location}}</span> {% endcomment %}
            </div>

            <div class="tweet-actions flex justify-between max-w-md text-gray-500">
                {% comment %} <a href="{% url "view_tweet" tweet_id=tweet.id %}" class="flex items-center space-x-2 hover:text-blue-500">
                    <i data-feather="message-circle" class="h-5 w-5"></i>
                    <span class="count">{{tweet.comments.count}}</span>
                </a>
                <button class="flex items-center space-x-2 hover:text-green-500 retweet-btn {% if user.is_authenticated %}{% if tweet|user_has_retweeted:request.user %}retweeted{% endif %}{% endif %}" data-post-id={{ tweet.id }}>
                    <i data-feather="repeat" class="h-5 w-5"></i>
                    <span class="count">{{tweet.retweets.count}}</span>
                </button>
                <button class="flex items-center space-x-2 hover:text-red-500 like-btn {% if user.is_authenticated %}{% if tweet|user_has_liked:request.user %}liked{% endif %}{% endif %}" data-post-id={{ tweet.id }}>
                    <i data-feather="heart" class="h-5 w-5"></i>
                    <span class="count">{{tweet.likes.count}}</span>
                </button>
                <button class="flex items-center space-x-2 hover:text-blue-500 share-btn" data-post-id={{ tweet.id }}>
                    <i data-feather="share" class="h-5 w-5"></i>
                </button> {% endcomment %}
            </div>

        </div>
    </div>
</article>