{% extends "layout.html" %}
{% load static %}
{% block  page_title %}Explore{% endblock  %}

{% block content %}

<!-- Explore Page -->
<div id="explore" class="page">
    {% include "core/components/explore_header.html" %}             

    <!-- Trending Topics -->
    <div class="bg-white">
        <h2 class="p-4 text-xl font-bold">Trends for you</h2>
        <div class="divide-y divide-gray-200">
            
            {% for trend in trending_tags %}
                <a href="{% url "explore_tag" tag=trend.slug %}">
                    <div class="p-4 hover:bg-gray-50">
                        {% comment %} <div class="text-sm text-gray-500">Trending in Technology</div> {% endcomment %}
                        <div class="font-bold">#{{trend.name}}</div>
                        <div class="text-sm text-gray-500">{{trend.tweet_count}} Tweets</div>
                    </div> 
                </a>
            {% endfor %}

        </div>
    </div>

</div>

{% endblock content %}
