{% extends "layout.html" %}
{% block  title %}{{user_profile.get_full_name}}{% endblock title %}

{% block content %}

<!-- Profile Page -->
<div id="profile" class="">
    <!-- Profile Header -->
    <header class="bg-white border-b border-gray-200">
        <div class="h-48 bg-blue-500">
            {% if user_profile.cover_picture %}
                <img src={{user_profile.cover_picture.url}} class="h-full w-full" alt="Profile">
            {% endif %}
        </div>
        <div class="px-4 pb-4">
            <div class="relative">
                <img src={{user_profile.profile_picture.url}} class="absolute -top-16 border-4 border-white rounded-full h-32 w-32" alt="Profile">
                <div class="pt-20 flex justify-end">
                    {% if is_owner %}
                        <a href={% url "edit_profile" %} class="border border-blue-500 text-blue-500 px-4 py-2 rounded-full font-bold hover:bg-blue-50 mx-2">
                            Edit profile
                        </a>
                        <a href={% url "logout" %} class="border border-red-500 text-red-500 px-4 py-2 rounded-full font-bold hover:bg-blue-50 mx-2">
                            Logout
                        </a>
                    {% else %}
                        {% if  is_following %}
                            <a href={% url "unfollow_user" user_id=user_profile.id %} class="border border-blue-500 text-blue-500 px-4 py-2 rounded-full font-bold hover:bg-blue-50 mx-2">
                                Unfollow
                            </a>
                        {% else %}
                            <a href={% url "follow_user" user_id=user_profile.id %} class="border border-blue-500 text-blue-500 px-4 py-2 rounded-full font-bold hover:bg-blue-50 mx-2">
                                Follow
                            </a>
                        {% endif %}
                        <a href={% url "view_conversation" user_id=user_profile.id %} class="border border-blue-500 text-blue-500 px-4 py-2 rounded-full font-bold hover:bg-blue-50 mx-2">
                            Message
                        </a>
                        <a href={% url "logout" %} class="border border-red-500 text-red-500 px-4 py-2 rounded-full font-bold hover:bg-blue-50 mx-2">
                            Block
                        </a>
                    {% endif %}
                    
                </div>
            </div>
            <div class="mt-4">
                <h1 class="text-xl font-bold">{{user_profile.get_full_name}}</h1>
                <div class="text-gray-500">@{{user_profile.username}}</div>
                <p class="mt-4">{{user_profile.bio}}</p>
                <div class="flex space-x-4 mt-4 text-gray-500">
                    <span><a href="https://www.google.com/maps/search/?api=1&query={{user_profile.location}}"><i data-feather="map-pin" class="inline h-4 w-4"></i> {{user_profile.location}}</a></span>
                    <span><i data-feather="calendar" class="inline h-4 w-4"></i> Joined {{user_profile.get_joined_date}}</span>

                </div>
                {% if user_profile.website %}
                    <a class="text-blue-400" href="{{user_profile.website}}">{{user_profile.website}}</a>
                {% endif %}
                <div class="flex space-x-6 mt-4">
                    <a href="{% url "follows_list" username=user_profile.username %}">
                        <span><strong>{{user_profile.following.count}}</strong> <span class="text-gray-500">Following</span></span>
                        <span><strong>{{user_profile.followers.count}}</strong> <span class="text-gray-500">Followers</span></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex mt-4 border-b">
            <button onclick="showPage('tweets', event)" class="flex-1 py-4 text-center border-b-2 border-blue-500 text-blue-500">Tweets</button>
            <button onclick="showPage('replies', event)" class="flex-1 py-4 text-center hover:bg-gray-50">Replies</button>
            <button onclick="showPage('media', event)" class="flex-1 py-4 text-center hover:bg-gray-50">Media</button>
            <button onclick="showPage('likes', event)" class="flex-1 py-4 text-center hover:bg-gray-50">Likes</button>
        </div>
    </header>

    <!-- Profile Tweets -->
    <div id="tweets" class="page divide-y divide-gray-200 bg-white">

        {% for tweet in user_tweets %}
            {% include "components\tweet.html" with tweet=tweet%}
        {% endfor %}

    </div>

    <div id="replies" class="page divide-y divide-gray-200 bg-white hidden">

        {% for tweet in user_replies %}
            {% include "components\tweet.html" with tweet=tweet%}
        {% endfor %}

    </div>

    <div id="media" class="page divide-y divide-gray-200 bg-white hidden">

        {% for tweet in user_media %}
            {% include "components\tweet.html" with tweet=tweet%}
        {% endfor %}

    </div>

    <div id="likes" class="page divide-y divide-gray-200 bg-white hidden">

        {% for like in user_likes %}
            {% include "components\tweet.html" with tweet=like.tweet%}
        {% endfor %}

    </div>
</div>

{% endblock content %}